#root {
  /* max-width: 1280px; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* display: flex;  */
  /* flex-direction: column; */
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  font-size: 13px;
  margin: 0;
}

.active-link, .active-link:hover {
  color: #8f0000; 
  /* font-weight: bold;
  transition: 0.2s; */
}

/* .divider {
  height: 4.5em;
  width: 100%; 
  background: rgba(255, 0, 0, 0.1); 
  display: flex; 
  flex-shrink: 0;
} */

/* .divider::after {
  content: "";
  width: 100%;
  height: 4.5em;
  background-color: #c3c3c3;
} */

/* -- Splash Page -- */
#splashPage {
  display: flex; 
  height: 100vh;
  justify-content: center;  /* centers splash page */
}

#splashLogo {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

#splashLogo img {
  max-width: 400px;
  
}

/* -- Navbar -- */
nav {
  padding: 1.5em 2em 1.5em 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
  flex-shrink: 0;  /* locks navbar height */
}

nav img {
  /* width: 55.2px; */
  height: 55.2px; 
  /* height: calc(20px + 40.0px); */
  /* width: calc(20px + 40.0px); */
}

#navbarLogo {
  padding-left: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.7em;
  font-size: 12px;
  /* gap: 5px; */
}

nav a {
  padding: 0.7em;
  color: black;
}

nav a:hover {
  color: #c0c0c0;
}

/* -- Home Page -- */
#homePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 1.5em;
}

/* -- Gallery -- */
/* .galleryWrapper {
  flex: 1;
  overflow: hidden;
} */

.gallery {
  display: flex; 
  overflow-x: auto;
  /* gap: 10px; */
  /* width: 50%; */
  /* padding-left: 1.5em; */
  /* height: 100vh; */
  /* overflow: hidden; */
}

.gallery img {
  margin-right: 15px;
  /* height: 90vh; */
  flex-shrink: 0;
}

/* -- Graphics Page -- */
#graphicsPage {
  padding-left: 1.5em;
  height: 100vh;
  display: flex; 
  flex-direction: column;
}


/* -- Architecture Page -- */
#architecturePage {
  padding-left: 1.5em;
  display: flex; 
  flex-direction: column;
  height: 100vh;
}

/* -- Photography Page -- */
#photographyPage {
  padding-left: 1.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -- Contact Page -- */
#contactPage {
  /* padding-left: 1.5em; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#contactPage nav {
  padding-left: 1.5em;
}

/* #contactPage img {
  flex-shrink: 0;
} */

#description {
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
}

#description p {
  margin: 0 0 1em 0; 
  word-wrap: break-word;
  width: 1064px;
  font-weight: 400;
  line-height: 1.4 !important;
  /* color: #000000; */

}

#description #noPadding {
  margin: 0;
}

/* #contactWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

} */

#contactInfo {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  max-width: 1064px;
  padding: 10px 20px 10px 20px;
  /* width: 33.333% */
}

/* #contactInfo a {
  color: #810000;
} */

#contactInfo a:hover {
  color: #dadada;
  text-decoration: underline;
}

#contactInfo p {
  margin: 0 0 1em 0; 
}

.contactColumn {
  flex: 1;  /* each column takes equal width */
  text-align: center; 
  font-weight: normal;
  width: 33.333%
}

.contactColumn h2 {
  font-size: 18px;
  margin: 0 0 0.4em;
  color: #c3c3c3;
}

#footerText {
  padding: 20px 24px;
}

.dividerWrapper {
  padding: 10px 20px;
  box-sizing: border-box;
}

.divider {
  /* height: 4.5em; */
  width: 100%; 
  /* background: rgba(255, 0, 0, 0.1);  */
  /* display: flex;  */
  /* flex-shrink: 0; */
  padding: 18px;
  box-sizing: border-box;
}
